body{
    background: linear-gradient(160deg, #3498db, #fff);
    background-attachment: fixed;
}

.loginTitulo{
    text-align: center;    
    font-family: geomatrix;
    font-size: 2em;
}

@font-face {
    font-family: geomatrix;
    src: url(../font/Geomatrix.otf);
}

.my-projects{
    margin-top: 5vh;
    height: 50vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    position: inherit;       
    margin-bottom: 5vh !important; 
}

.my-projects>h2{
    font-size: 3em;
    font-family: geomatrix;
    color: #000;
    text-align: center;
    padding: 30px;
}

.my-projects-content{
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: rgba(255,255,255, .75);    
}

.project-option, .adm-project-option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255,255,255, .85);    
}

.project-option>p, .adm-project-option >p {
    padding: 10px;
    font-size: 1.5em;
    font-family: geomatrix;
    
}

.my-project-isResponsable, .adm-project-management{
    display: flex;
    font-family: geomatrix;
    justify-content: center;
    align-items: center;
    
    position: relative;
    background-color: #22a6b3;
    height: 100%;
    width: 130px;
    text-transform: uppercase;
}

.adm-project-management{
    color: #fff;
}

.adm-project-addProject{
    height: 50px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-newProject{
    transition: 0.25s;
    height: fit-content;
    width: fit-content;
    color: #fff;
    font-family: geomatrix;
    border: 1px solid #244d12;
    background-color: #64bc3f;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-newProject:hover{
    background-color: #92e46f;
    color: #000;
}

.loginContainer, .signUpContainer{
    position: absolute;
    box-shadow: #fff 2px 5px 30px 5px;
    border: 1px solid rgba(255,255,255,.75);
    color: #fff;
    padding: 30px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 400px;
    width: 350px;


    background: linear-gradient(250deg, rgba(0,0,0, .75),  rgba(0,0,0, .9));

}
.signUpContainer{
    height: 550px;
}


.signUp{
    font-size: 0.8em;
    color: #3498db;
}

.goToLogin{
    bottom: 100;
}

*{
    padding: 0;
    margin: 0;
}

nav{
    padding: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(150deg, #ecf0f1, #f5f6fa);
}

.divTitulo{
    font-family: geomatrix;
    font-size: 1.8em;
    position: inherit;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userStatus{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    color: #000;
    position: absolute;
    top: 0;
    right: 0%;
    height: 80px;
    width: 150px;  
}


.adm-projects{
    margin-top: 100px;
    width: 80vw;
    min-height: 50vh;
    height:auto;
    margin-left: 10vw;
    margin-right: 10vw;
}

.adm-projects>p{
    text-align: center;
    font-family: geomatrix;
    font-size: 3em;
    padding: 20px;
}

.adm-projects-content{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
}

#modalNewProject, #fade{
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

#modalNewProject{    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(250deg, rgba(106, 176, 76, .75), rgba(186, 220, 88, .75));
    border-radius: 5px;
    border: 1px solid #fff;
    height: 500px;
    width: 700px;
    z-index: 10;
}

#fade{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .75);
    filter: blur(50px);
}

.modalHeader{
    font-family: geomatrix;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

.exitModalNewProject{
    position: inherit;
    top: 0;
    left: 90%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.newProjectContainer{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.align-submit-button{
    margin-top: 35px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-management{
    font-family: geomatrix;
}

.project-management > p{
    margin-top: 50px;
    color: #000;
    font-size: 4em;    
    text-align: center;
}

.project-management-content{
    font-size: 3em;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255, .75);
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    min-height: 500px;
    height: auto;
    background-color: #78d2d83d;
}

.management-row{
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
}

.management-img-adjust{
    margin-right: 25px;
 }

 .management-adjust-data{
    width: 150px !important;
 }

 .management-label{
    display: flex;
    align-items: center;
    min-width: 150px;
    font-size: 0.4em;
 }


.btn-content-management{
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    width: 100%;     
}

.btn-content-management > button{
    margin-left: 10px;
    margin-right: 10px;
}

.divTitulo:hover{
    cursor: pointer;
}


.management-responsavel{
    font-family: geomatrix;
}

.management-responsavel > p{
    margin-top: 50px;
    color: #000;
    font-size: 4em;    
    text-align: center;
}

.management-responsavel-content{
    background-color: #78d2d83d;
    min-height: 250px;
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2em;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255, .75);
}

.management-responsavel-content:last-child{
    margin-bottom: 10vh;
}

.management-responsavel-option{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 100px;
}

.management-responsavel-content > .management-responsavel-option{    
    padding: 30px;
}

.mng-excluir-membro{
    transition: 0.5s;
    background-color: rgba(255, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;    
    width: 80px;
    height: 80px;
}

.mng-excluir-membro:hover{
    width: 80px;
    height: 80px;
    background-color: rgba(255, 0, 0, 1);    
}
.mng-excluir-membro>img{
    transition: 0.5s;
}
.mng-excluir-membro:hover>img {
    filter:invert(100%);
}


#modalNewResponsavel, #modalNewIntegrante{
    transition: 0.75s;
    padding: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #fff;
    background: linear-gradient(75deg, #192a56, #2f3640);
    height: 400px;
    width: 500px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

#modalNewIntegrante{
    background: linear-gradient(75deg, #f9ca24, #f6e58d);
}

.modalHeaderIntegrante{
    color: #000;
}

.adm-management-addResponsavel{
    font-size: 0.5em;
}

#sltResponsavel{
    width: 100%;
}

.btn-newResponsavel{
    margin-top: 80px;
}

.exitModalNewResponsavel{
    border-radius: 50%;
    cursor: pointer;
    margin-left: 90%;
}

.btn-newResponsavel, .btn-newIntegrante {
    color: #fff;
    transition: 0.25s all;
    padding: 7.5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color:  #636e72;
    
}

.btn-newIntegrante{
    border: 1px solid #000;
    background-color:  #f6e58d;
    color: #000;
    margin-top: 80px;
}

.btn-newResponsavel:hover{
    color: #fff;
    background-color:  #2d3436;
}

.btn-newIntegrante:hover {
    color: #000;
    background-color:  #f1c40f;
}


.btnAddMember-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnAddMember{    
    margin-top: 100px;
    margin-bottom: 50px;
    transition: 0.5s;
    background-color: #052c50;
    width: 30%;
    border-radius: 5px;
    color: #fff;
}
.btnAddMember:hover{
    background-color: #2071ce;
}

.fundoResponsaveis{
    text-align: center;
    background: linear-gradient(180deg, #192a56, #2f3640 );
    color: #fff;
}

.fundoResponsaveis> .management-responsavel-option,
.fundoIntegrantes> .management-responsavel-option,
.fundoMinhasTarefas> .management-responsavel-option
{
    justify-content: center;
}

.fundoIntegrantes{
    background: linear-gradient(180deg, #f9ca24, #f6e58d);
    color: #000;    
}
.fundoMinhasTarefas{
    background: linear-gradient(180deg, #6ab04c, #badc58);    
}
.fundoTarefasEquipe{
    background: linear-gradient(180deg, #2f3640, #7f8fa6);    
}
.fundoTarefasEquipe> .management-responsavel-option{
    color: #fff;
}

.fundoTarefasEquipe> .management-responsavel-option,
.fundoMinhasTarefas> .management-responsavel-option{
    cursor: pointer;
}


.responsible-management{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

.btn-gerenciar{
    border-radius: 10px;
    padding: 25px;
    transition: 0.5s;
    width: 100%;
    font-family: geomatrix;
    font-size: 1.7em;
    background-color: #2d3436;
    border: 1px solid #fff;
    color: #fff;
}
.btn-gerenciar:hover{
    background-color: #fff;
    border: 1px solid #2d3436;
    color: #2d3436;

}