body{
    background: linear-gradient(160deg, #3498db, #fff);
    background-attachment: fixed;
}

.loginTitulo{
    text-align: center;    
    font-family: geomatrix;
    font-size: 2em;
}

@font-face {
    font-family: geomatrix;
    src: url(../font/Geomatrix.otf);
}

.my-projects{
    margin-top: 5vh;
    height: 50vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    position: inherit;    
}

.my-projects>h2{
    font-size: 3em;
    font-family: geomatrix;
    color: #000;
    text-align: center;
    padding: 30px;
}

.my-projects-content{
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .75); 
}

.project-option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255,255,255, .85);    
}

.project-option>p{
    padding: 10px;
    font-size: 1.5em;
    font-family: geomatrix;
    
}

.my-project-isResponsable{
    display: flex;
    font-family: geomatrix;
    justify-content: center;
    align-items: center;
    
    position: relative;
    background-color: #22a6b3;
    height: 100%;
    width: 130px;
    text-transform: uppercase;
}

.loginContainer{
    position: absolute;
    box-shadow: #fff 2px 5px 30px 5px;
    border: 1px solid rgba(255,255,255,.75);
    color: #fff;
    padding: 30px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 600px;
    width: 350px;


    background: linear-gradient(250deg, rgba(0,0,0, .75),  rgba(0,0,0, .9));

}

.signUp{
    font-size: 0.8em;
    color: #3498db;
}

.goToLogin{
    bottom: 100;
}

*{
    padding: 0;
    margin: 0;
}

nav{
    padding: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(150deg, #ecf0f1, #f5f6fa);
}

.divTitulo{
    font-family: geomatrix;
    font-size: 1.8em;
    position: inherit;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    color: #000;
    position: absolute;
    top: 0;
    right: 0%;
    height: 80px;
    width: 150px;  
}