body{
    background: linear-gradient(160deg, #3498db, #fff);
    background-attachment: fixed;
}

.loginTitulo{
    text-align: center;    
    font-family: geomatrix;
    font-size: 2em;
}

@font-face {
    font-family: geomatrix;
    src: url(../font/Geomatrix.otf);
}

.my-projects{
    margin-top: 5vh;
    height: 50vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    position: inherit;    
}

.my-projects>h2{
    font-size: 3em;
    font-family: geomatrix;
    color: #000;
    text-align: center;
    padding: 30px;
}

.my-projects-content{
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .75); 
}

.project-option, .adm-project-option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255,255,255, .85);    
}

.project-option>p, .adm-project-option >p {
    padding: 10px;
    font-size: 1.5em;
    font-family: geomatrix;
    
}

.my-project-isResponsable, .adm-project-management{
    display: flex;
    font-family: geomatrix;
    justify-content: center;
    align-items: center;
    
    position: relative;
    background-color: #22a6b3;
    height: 100%;
    width: 130px;
    text-transform: uppercase;
}

.adm-project-management{
    color: #fff;
}

.adm-project-addProject{
    height: 50px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-newProject{
    transition: 0.25s;
    height: fit-content;
    width: fit-content;
    color: #fff;
    font-family: geomatrix;
    border: 1px solid #244d12;
    background-color: #64bc3f;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-newProject:hover{
    background-color: #92e46f;
    color: #000;
}

.loginContainer, .signUpContainer{
    position: absolute;
    box-shadow: #fff 2px 5px 30px 5px;
    border: 1px solid rgba(255,255,255,.75);
    color: #fff;
    padding: 30px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 400px;
    width: 350px;


    background: linear-gradient(250deg, rgba(0,0,0, .75),  rgba(0,0,0, .9));

}
.signUpContainer{
    height: 550px;
}


.signUp{
    font-size: 0.8em;
    color: #3498db;
}

.goToLogin{
    bottom: 100;
}

*{
    padding: 0;
    margin: 0;
}

nav{
    padding: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(150deg, #ecf0f1, #f5f6fa);
}

.divTitulo{
    font-family: geomatrix;
    font-size: 1.8em;
    position: inherit;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userStatus{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    color: #000;
    position: absolute;
    top: 0;
    right: 0%;
    height: 80px;
    width: 150px;  
}


.adm-projects{
    margin-top: 100px;
    width: 80vw;
    min-height: 50vh;
    height:auto;
    margin-left: 10vw;
    margin-right: 10vw;
}

.adm-projects>p{
    text-align: center;
    font-family: geomatrix;
    font-size: 3em;
    padding: 20px;
}

.adm-projects-content{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
}

#modalNewProject, #fade{
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

#modalNewProject{    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(250deg, rgba(106, 176, 76, .75), rgba(186, 220, 88, .75));
    border-radius: 5px;
    border: 1px solid #fff;
    height: 500px;
    width: 700px;
    z-index: 10;
}

#fade{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .75);
}

.modalHeader{
    font-family: geomatrix;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

.exitModalNewProject{
    position: inherit;
    top: 0;
    left: 90%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.newProjectContainer{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.align-submit-button{
    margin-top: 35px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}